.table h2 {
    margin: 2rem auto;
    text-align: center;
  }
  .table .addBtn {
    margin-top: 1rem;
    margin-left: auto;
    display: block;
    background-color: rgb(103, 114, 229);
    width:150px;
    height:3rem;
    color:white
  }
  .MuiInputBase-root.MuiInputBase-root.MuiOutlinedInput-root.Mui-disabled
    fieldset {
    border-color: transparent;
  }
  .MuiInputBase-root.MuiInputBase-root.MuiOutlinedInput-root {
    color: #3a3a3a;
  }