.billDocument{
    max-width: 100%;
  overflow: auto;
  
}
.billPage{
    max-width: 850px;
    width: 850px;
    overflow: auto;
    margin: 2rem auto;
    padding: 6rem 4rem;
    box-shadow: 4px 4px 28px 10px rgba(240, 240, 240, 0.9);
}
.billDetails{
  display: flex;
  width: auto;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
}

.billColumn{
    width: 40%;
    border: red 2px solidcolor;
}
.invoiceNumber{
    color: #444;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.invoiceHeading{
    font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.date{
    margin-top: 4rem;
    font-weight: 600;
}

.billHead{
    background: #444;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
}
.billDataNum{
    text-align: right;
    padding: 0 5px;
}
.billRow{
  display: flex;
  padding: 8px 0;
  grid-template-columns: 1fr 10fr 3fr 2fr 2fr 3fr;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  margin-top: -1rem;
}
p{
  
  line-height: 1%;
}