.navlink{
    display: inline-block;
    border-radius: 50px;
    transition: box-shadow 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1.1rem;
}
.navlink p,span {
    display: inline-block;
    
  }
  span {

    font-size: 1.3rem;
    line-height: 1.3rem;
    vertical-align: middle;
    padding: 0.4rem 0.5rem;
    border-radius: 200px;
    transition: background-color 0.7s cubic-bezier(0.19, 1, 0.22, 1);
   
    }
    p {
        padding: 0.4rem 1.2rem 0.4rem 0.8rem;
        line-height: 1.3rem;
        vertical-align: middle;
        transition: color 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      }
