.sidebar{
    
    max-width:20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.08);
  
   z-index:1
  
}
a {
    margin: .5rem 3rem .5rem;
  }
 a:first-child {
    width: 160px;
    margin: 0 3rem 0;
    margin-top: 0;
  }
.image{
  width: 186px;
  height: 139px;
  border-radius:0;

}
.sidebar a{
  margin-left: 1rem;
  line-height: 2rem;
  font-size: 20px;
 font-weight: 500;
}