
.conatiner{
  
  position: relative;
  height: 100%;
}
.sidebar{
  position: fixed;
    height: 100%;
    width: 250px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 7;
}
.component {
  position: fixed;
  height: 100%;
  width:calc(100vw - 200px);
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto
}
@media screen and (max-width: 960px) {
  .sidebar{
    display: none;
  }
  .component {
    left: 0;
    width: 100%;
    padding-bottom: 60px;
  }
}
